.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 4rem;
    background-color: #858181;
    cursor: pointer;
}
.prop-container{
    display: flex;
    gap: 2rem;
}
.prop-container button{
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
.prop-container button:hover{
    border: 1px solid #000;
}