body{
    background-image:var(--form-url);
    background-size: cover;
    background-repeat: repeat-y;
}
.signup-form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 1rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
    gap: 12px;
    background-color: #fff;
    /* background-image: url('https://img.freepik.com/premium-vector/background-with-colorful-shopping-bags-vector-illustration-sale-discount-concept_653240-59.jpg');
    opacity: 0.5; */
    /* transition: 0.3s ease-out; */
}
/* .signup-form-container:hover{
    opacity: 1;
} */
input{
    padding: 0.5rem;
    border: none;
    border: 1px solid #ccc;
}
input:focus{
    outline: none;
}
.signup-form-container  div{
    position: relative;
}

.signup-form-container  div label{
    position: absolute;
    font-weight: bold;
    font-size: 13px;
    background-color: #fff;
    top: -10px;
    /* left: 10px; */
}

.signup-form-container  div input{
    width: 97%;
    opacity: 1 !important;
}
.signup-form-container button{
    width: fit-content;
    padding: 0.4rem 1rem;
    margin: auto;
    border: none;
    background-color: rgb(72, 72, 255);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    border-radius: 0.8rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.eye{
    position: absolute;
    top: 45%;
    transform: translateY(-40%);
    right:10px;
}
.eye {
    color: rgb(199, 198, 198);
}